body {
    background-image: url('mao-de-empresarios-de-arvores-mostrando-o-conceito-de-jogo-de-tesoura-de-pedra-de-papel-por-ilustracao-de-renderizacao-3d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

