body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4f2510c8-934c-466c-af62-d8c0e3203e4c/d7x8ckr-23343743-8e61-4c69-bb66-e6f6c66eea29.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRmMjUxMGM4LTkzNGMtNDY2Yy1hZjYyLWQ4YzBlMzIwM2U0Y1wvZDd4OGNrci0yMzM0Mzc0My04ZTYxLTRjNjktYmI2Ni1lNmY2YzY2ZWVhMjkuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.DhkaHjnI8OBOfzr6eRy3UnPkQ572cC9D3DhM36ctUMA");
  background-color: rgba(209, 202, 159, 0.274);
  background-size: 100%;
  background-repeat: no-repeat;
}

.titulo{
  text-align: center;
}

#jogadorId {
  margin: 4px;
  padding: 12px;
  border: 4px;
  border-radius: 20px;
  display: inline-flex;
  margin-right: 32px;
}

.seletor {
  margin: 16px;
  border-radius: 20px;
  background-color: rgba(218, 214, 188, 0.514);
  padding: 4px;
  font-size: larger;
  font-family: cursive;
  color: rgb(110, 65, 5);
}

#adversarioId {
  margin: 4px;
  padding: 12px;
  border: 4px;
  border-radius: 20px;
  display: inline-flex;
  color: crimson;
  margin-left: 23px;
}

.jogo{
  text-align: center;
}

#bg-jogador{
  background-color: rgba(0, 0, 255, 0.4);
  border-radius: 16px;
  padding: 4px;
  margin: 4px;
  box-shadow: 4px 4px 5px rgb(0, 0, 255);
  max-width: 35%;
}

#bg-adversario{
  background-color: rgba(220, 20, 60, 0.4);
  border-radius: 16px;
  padding: 4px;
  margin: 4px;
  box-shadow: 4px 4px 5px red;
  max-width: 35%;
}

h1{
  font-size: large;
  font-family: cursive;
  text-shadow: 2px 2px 5px red;
}

h3{
  margin: auto;
  margin-bottom: 8px;
  background-color: rgba(112, 112, 112, 0.5);
  border-radius: 12px;
  padding: 4px;
  font-family: cursive;
  box-shadow: 4px 4px 5px rgb(3, 3, 3);
  font-size: medium;
  width: 120px;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 8px 8px 0 0;
}

#buttonId{  
  width: 10%;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.623);
  text-decoration-line: underline;  
  font-weight: bolder;
  }

#resultadoId{
  text-align: center;
}

.resultado{
  background-color: #ffffffe5;
  border-radius: 12px;
  max-width: max-content;
  padding: 8px;
  margin: auto auto 8px;
}

#placarId{
  width: 100%;
  background-color: rgba(24, 44, 131, 0.5);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 4px;
}