body {
  background-image: url("mao-de-empresarios-de-arvores-mostrando-o-conceito-de-jogo-de-tesoura-de-pedra-de-papel-por-ilustracao-de-renderizacao-3d.jpg");
  background-repeat: no-repeat;
  background-size: 800px;
}

.jogador {
  margin: 8px;
  padding: 15px;
  border: 4px;
  border-radius: 20px;
}

.material-symbols-outlined {
  background-color: rgba(255, 255, 255, 0.555);
  margin: 16px;
  padding: 16px;
  border-style: solid;
  border-radius: 32px;
  border-color: rgb(0, 0, 0);
  position: relative;
  left: 10;  
}

.seletor{
    margin: 20px;
}